<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% list.forEach(function(item){%>
        <li><a href="/delete/<%=item.id%>"> X</a> <%=item.title%></li>
      <%})%>
    </ul>
    <form action="/add" method="post">
        <p>What should I do?</p>
        <input  id="task" type="text" name="task" placeholder="task">
        <button  type="submit">Confirm</button>
    </form>
    <script>
        document.getElementById('task').focus();
    </script>
  </body>
</html>